"Pioneer"     = "PITU11MWR"   
"Pioneer-UHD" = "PITU11MWR" 
"Hisense-V1"  = "HSTP11MWR"   
"Hisense-V2"  = "HSTP12MWR" 
"Element"     = "ELTE11MWR" 
"Apache-2K"   = "XUSHTC11MWR" 
"A2K"         = "XUSHTC11MWR" 
"Apache-4K"   = "XUSPTC11MWR" 
"A4K"         = "XUSPTC11MWR" 
"Negroni-2K"  = "XUSHTB11MWR" 
"N2K"         = "XUSHTB11MWR"
"XiOne-UK"    = "SKXI11ADS"
"Sharp-MTK"   = "SHUHTS11TEI"
